<%= form_with(model: task, local:true) do |form| %>
  <% if task.errors.any? %>
    <div class="error_explanation alert alert-danger" role="alert" >
      <h2><%= pluralize(task.errors.count, "件のエラー") %>があります。</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["未着手", "着手中", "完了"], class: "form-control" %>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.to_a, {}%>
  </div>

  <% task.field_for :labels do |label| %>
  <div class="field">
    <%= form.label "カテゴリー"%>
    <%= form.text_field :name, class: "form-control"%>
    <%= form.select :pre_label, Label.names.to_a, {} %>
  </div>
  <% end %>

  <div class="ations text-center">
    <%= form.submit %>
  </div>

<% end %>
