<br>
<div class="alert alert-info text-center">

<%= form_with(model: Task.new, local: true, method: :get, url: root_path) do |f| %>
<% @form_default = {search: "", status_s: "", priority: "", priority_s: "", deadline_c: ""} if @form_default.nil? %>

<table>
  <tr>
    <th>タイトル</th>
    <th>状況</th>
    <th>優先度ソート</th>
    <th>優先度</th>
    <th>期日ソート</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>
      <%= f.text_field :search, value: "#{@form_default[:search]}" %>
    </td>
    <td>
      <%= f.select :status_s, options_for_select(["未着手","着手中","完了"], selected: "#{@form_default[:status_s]}"), include_blank: true%>
    </td>
    <td>
      <%= f.select :priority_s, options_for_select(["優先度順"], selected: "#{@form_default[:priority_s]}"), include_blank: true %>
    </td>
    <td>
      <%= f.select :priority, options_for_select({low: 0, middle: 1, high: 2}, selected: "#{@form_default[:priority]}"), include_blank: true %>
    </td>
    <td>
      <%= f.select :deadline_c, options_for_select(["期日昇順","期日降順"], selected: "#{@form_default[:deadline_c]}"), include_blank: true %>
    </td>
    <td>
      <%= f.submit 'Search', :name => nil %>
    </td>
    <td>
      <%= link_to("検索初期化", root_path) %>
    </td>
  </tr>
</table>

<% end %>
</div>
<br>
<br>
<% page_entries_info @tasks %>

<div class="row">
  <% @tasks.each do |task| %>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5><%= task.title %></h5>
        <h6>期限：<%= task.deadline.strftime('%Y/%m/%d %H:%M') %></h6>

        <% if task.status == "未着手" %>
          <span class="badge badge-secondary"><%= task.status %></span>
        <% elsif task.status == "着手中" %>
          <span class="badge badge-warning"><%= task.status %></span>
        <% else %>
          <span class="badge badge-success"><%= task.status %></span>
        <% end %>

        <% if task.priority == "high" %>
          <span class="badge badge-danger"><%= task.priority %></span>
        <% elsif task.priority == "middle" %>
          <span class="badge badge-success"><%= task.priority %></span>
        <% else %>
          <span class="badge badge-primary"><%= task.priority %></span>
        <% end %>
      </div>
      <div class="card-body">

        <div class="task_content card-text">
          <%= simple_format(task.content) %><br>
        </div>
        <%= link_to "詳細", task %>
        <%= link_to "編集", edit_task_path(task) %>
        <%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
      </div>
    </div><br>
  </div>
  <% end %>
</div>

<%= paginate @tasks %>
