<h1>詳細画面</h1>

<%= @task.title %><br>
<%= @task.content %><br>
<%= @task.deadline.strftime('%Y/%m/%d %H:%M')  %><br>
<%= @task.status %><br>
<%= link_to "編集", edit_task_path(@task) %><br>
<%= link_to "戻る", "/" %><br>
<%= link_to "削除", @task, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %><br>
