<br>
<div class="text-left">
  <%= link_to "グループ新規作成", new_group_path, class: "btn btn-secondary" %>
  <%= link_to "所属グループ一覧", groups_path, class: "btn btn-secondary" %>
  <div class="offset-4 col-4 text-center">
    <%= form_with(model: Group.new, local: true, method: :get, url: all_groups_path ) do |f| %>
    <% @form_default = {search: ""} if @form_default.nil? %>
    <%= f.text_field :search, value: "#{@form_default[:search]}", placeholder: "タイトル検索", class: "form-control "%>
    <%= f.submit 'Search', name: nil, class: "btn btn-secondary" %>
    <% end %>
  </div>

</div>
<br>
<br>

<% page_entries_info @groups %>

<div class="row">
  <% @groups.each do |group| %>
    <div class="col-md-6 col-sm-12">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= group.title %></h5>
          <p class="card-text"><%= group.info %></p>
          <% if group.joinner.ids.include?(current_user.id) %>
            <%= link_to "GO", group, class: "btn btn-primary"%>
          <% else %>
            <%= link_to "参加する", join_groups_path(params: {group_id: group.id}), method: :post, class: "btn btn-success" %>
          <% end %>
          <div class="text-right">
            <% if group.user_id == current_user.id %>
              <%= link_to "編集", edit_group_path(group)  %>
              <%= link_to "削除", group, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" } if group.user_id == current_user.id %>
            <% end %>
            <p>by <%= group.user.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @groups %>
</div>
<br>
