<br>
<div class="text-center">
  <%= link_to "グループ新規作成", new_group_path, class: "btn btn-secondary" %>
</div>
<%= form_with(model: Group.new, local: true, method: :get, url: root_path) do |f| %>
<%= f.submit 'Search', name: nil, class: "btn btn-secondary" %>
<% end %>

<br>
<div class="row">
  <% @groups.each do |group| %>
    <div class="col-md-6 col-sm-12">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= group.title %></h5>
          <p class="card-text"><%= group.info %></p>
          <%= link_to "GO", group, class: "btn btn-primary"%>
          <div>
            <%= link_to "編集", edit_group_path(group) if group.user_id == current_user.id %>
            <%= link_to "削除", group, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" } if group.user_id == current_user.id %>
          </div>
          <div class="text-right">
            <p>by <%= group.user.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
