<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg ">
        <% if logged_in? %>
          <a class="navbar-brand" href="/">TaskManager</a>
        <% else %>
          <a class="navbar-brand" href="/sessions/new">TaskManager</a>
        <% end %>
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "New", new_task_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Log in",  new_session_path, class: "nav-link" unless logged_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_path, class: "nav-link" unless logged_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "My page", current_user, class: "nav-link" if logged_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", session_path(current_user), method: :delete, class: "nav-link" if logged_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "Admin Menu", admin_users_path, class: "nav-link" if admin? %>
          </li>
        </ul>
      </nav>

      <div class="container">
        <% flash.each do |key, value| %>
        <br>
          <%= content_tag(:div, value, class: "#{key} alert alert-success", role: "alert") %>
        <% end %>
        <%= yield %>
      </div>

    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Task_Mananer by <a href="#">miball</a>
          / <a href="#">twitter</a>
          / <a href="#">e-mail</a>
        </p>
      </div>
    </footer>
  </body>
</html>
